@page "/Keywords"
<ul class="SG">
   <li class="sgLi">
    <div class="box">
    <h3>Keywords</h3>
    @if (this.KeywordsInfoResult != null)
    {
            @foreach (var singleKeyword in this.KeywordsInfoResult)
            {
                <span class="badge badge-primary badge-pill">@singleKeyword.Appeareances</span>
                <a href="Search/@singleKeyword.Keyword" >@singleKeyword.Keyword  </a>

            }
    }
     </div>
 </li> 
   <li class="sgLi">
    <div class="box">
    <h3>Topics</h3>
    @if (this.TopicsInfoResult != null)
    {
            @foreach (var singleKeyword in this.TopicsInfoResult)
            {
                <span class="badge badge-primary badge-pill">@singleKeyword.Appeareances</span>
                <a href="Search/@singleKeyword.Keyword">@singleKeyword.Keyword  </a>
            }
    }
     </div>
 </li>
   <li class="sgLi">
    <div class="box">
    <h3>Labels</h3>
    @if (this.LabelsInfoResult != null)
    {
            @foreach (var singleKeyword in this.LabelsInfoResult)
            {
         
                <span class="badge badge-primary badge-pill">@singleKeyword.Appeareances</span>
                <a href="Search/@singleKeyword.Keyword">@singleKeyword.Keyword  </a>
         
            }
    }
         </div>
 </li>
   <li class="sgLi">
    <div class="box">
    <h3>Brands</h3>
    @if (this.BrandsInfoResult != null)
    {

            @foreach (var singleKeyword in this.BrandsInfoResult)
            {
         
                <span class="badge badge-primary badge-pill">@singleKeyword.Appeareances</span>
                <a href="Search/@singleKeyword.Keyword">@singleKeyword.Keyword  </a>
         
            }

    }
         </div>
 </li>
   <li class="sgLi">
    <div class="box">
    <h3>Locations</h3>
    @if (this.LocationsInfoResult != null)
    {
 
            @foreach (var singleKeyword in this.LocationsInfoResult)
            {
     
                <span class="badge badge-primary badge-pill">@singleKeyword.Appeareances</span>
                <a href="Search/@singleKeyword.Keyword">@singleKeyword.Keyword  </a>
     
            }
 
    }
       </div>
 </li>
 </ul>
